{% extends "::base.html.twig" %}

{% block title %}AppBundle:Afspraak:showAfspraken{% endblock %}

{% block body %}
<h1 style='padding: 20px;'>Welcome to the Afspraak:showAfspraken page</h1>
<a href="/addAfspraak">add appointment </a>
{% endblock %}
