{% extends "::base.html.twig" %}

{% block title %}AppBundle:Afspraak:showAfspraken{% endblock %}

{% block body %}
  <h1 style='padding: 20px;'>Welcome! Please pick an appointment date</h1>
  <a href="/addAfspraak">add appointment </a>
  <table style="width:90%;">
    <tr>
      {% for day in days %}
        <th>
          {{day}}
        </th>
      {% endfor %}
    </tr>
    {% for afspraak in afspraken %}
      <tr>
        {% for i in range(1, afspraak.date.format('w') )%}
          <td> PLACEHOLDER</td>
        {% endfor %}

        <td>
          {# afspraak.date.format('w') #}
          {{ afspraak.date.format('H') }} : {{ afspraak.date.format('i')}}

        </td>
      </tr>
    {% endfor %}

  </table>

{% endblock %}
