<h3> You have made an appointment </h3>

<!-- TODO: fix this --> 
You can now log in <a href="{{url('login_route')}}"> here </a> 
you made an appointment at {{afspraak.date.format("Y-m-d H:i:s")}} with {{afspraak.doctor.getuser().getUsername()}}

Thank you!

