<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Den Dokteur</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/showAfspraken">Appointments</a></li>
                <li><a href="/team">Team</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="/location/showLocations">Locations</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-right navbar-nav">
                {% if is_granted('ROLE_DOCTOR') %}
                <li><a href="/patient/showPatients">Patients</a></li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="/doctor/list">Doctors</a></li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

