<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block title %}Den Dokteur{% endblock %}

        {% block stylesheets %}
            {% stylesheets 'css/*' filter='?uglifycss' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'layout/navBar.html' only %}
        <div class="body-container">
            {% block body %}
            {% endblock %}
        </div>

        {% block javascripts %}
            {% javascripts 'js/jquery-1.11.2.js' 'js/bootstrap.min.js' 'js/*' filter='?uglifyjs2' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
