{% extends 'base.html.twig' %}

{% block body %}
    <img class="banner" src="/images/banner.jpg" width="100%"/>

    <div class="transparent-wrapper">
        <div id="div-transparent"></div>
    </div>
    <div class="div-not-transparent myPageContent">
        <h1>Welkom bij Den Dokteur </h1>
    </div>

{% endblock %}
