{% extends 'base.html.twig' %}

{% block body %}
    <img class="banner" src="/images/banner.jpg" width="100%"/>

    <div class="transparent-wrapper">
        <div id="div-transparent"></div>
    </div>
    <div class="div-not-transparent myPageContent">
        <div class="container">
            <div class="row">
                <h1>Welkom bij Den Dokteur, meet our Doctors</h1>
                <br>
                <br>
            </div>
            <div class="row">
                {% for doctor in doctors %}
                    <div class="col-xs-12 col-sm-6 col-md-3" style="text-align: center">
                        <h4>Dr. {{ doctor.user.lastname }}</h4>
                        <a href="{{ path('profile_upload') }}">
                            <img src="/uploads/profileImages/{{ doctor.user.image.path }}" class="thumbnail" style="height:250px;margin:auto">
                        </a>
                        <br>
                        <a href="{{ path('profile_edit') }}" class="btn btn-md btn-primary" >Maak een afspraak</a>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
