#myTable th {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    #myTable th{
        font-size: 5px;
    }
    #myTable td{
        font-size: 5px;
    }
    #myTable td .btn{
        font-size: 5px;
        padding: 2px;
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 750px) and (min-width: 500px) {
    #myTable th{
        font-size: 8px;
    }
    #myTable td{
        font-size: 8px;
    }
    #myTable td .btn{
        font-size: 8px;
        padding: 4px;
    }
}