{% extends 'base.html.twig' %}


{% block body %}
<div class="jumbotron myPageHeader">
    <h1>Change Profile Image</h1>
</div>
<div class="myPageContent">
    {{ form_start(form) }}
    <input type="submit" value="Update" class="btn btn-lg btn-primary" />

    {{ form_end(form) }}
    </div>

{% endblock %}
